@font-face {
    font-family: "Rage";
    src: url(../fonts/RAGE.TTF) format("truetype");
}

@font-face {
    font-family: "mistral";
    src: url(../fonts/MISTRAL.TTF) format("truetype");
}

@media (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: black;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: white;
        color: black;
    }
}

html {
    overflow: hidden;
}

.customS {
    overflow-y: scroll;
}

.animationS {
    animation-play-state: running !important;
}

.animationR {
    animation-direction: reverse !important;
}

body {
    font-family: 'Quicksand';
    --fontsizeIT: 18px;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
    background-color: white !important;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-backface-visibility: hidden;
    margin: 0 !important;
    padding: 0 !important;
    color: #212529;
}

body>#background {
    top: 0;
    left: 0;
    opacity: 1;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: -moz-linear-gradient(10.94% 119.44% 45deg, rgba(41, 171, 226, 1) 0%, rgba(29, 153, 214, 1) 10.76%, rgba(13, 131, 200, 1) 28.13%, rgba(3, 118, 191, 1) 44.71%, rgba(0, 113, 188, 1) 59.55%, rgba(7, 89, 165, 1) 71.54%, rgba(25, 28, 108, 1) 96.72%, rgba(27, 20, 100, 1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(41, 171, 226, 1) 0%, rgba(29, 153, 214, 1) 10.76%, rgba(13, 131, 200, 1) 28.13%, rgba(3, 118, 191, 1) 44.71%, rgba(0, 113, 188, 1) 59.55%, rgba(7, 89, 165, 1) 71.54%, rgba(25, 28, 108, 1) 96.72%, rgba(27, 20, 100, 1) 100%);
    background: -webkit-gradient(linear, 10.94% 119.44%, 89.06% -19.44%, color-stop(0, rgba(41, 171, 226, 1)), color-stop(0.1076, rgba(29, 153, 214, 1)), color-stop(0.2813, rgba(13, 131, 200, 1)), color-stop(0.4471, rgba(3, 118, 191, 1)), color-stop(0.5955, rgba(0, 113, 188, 1)), color-stop(0.7154, rgba(7, 89, 165, 1)), color-stop(0.9672, rgba(25, 28, 108, 1)), color-stop(1, rgba(27, 20, 100, 1)));
    background: -o-linear-gradient(45deg, rgba(41, 171, 226, 1) 0%, rgba(29, 153, 214, 1) 10.76%, rgba(13, 131, 200, 1) 28.13%, rgba(3, 118, 191, 1) 44.71%, rgba(0, 113, 188, 1) 59.55%, rgba(7, 89, 165, 1) 71.54%, rgba(25, 28, 108, 1) 96.72%, rgba(27, 20, 100, 1) 100%);
    background: -ms-linear-gradient(45deg, rgba(41, 171, 226, 1) 0%, rgba(29, 153, 214, 1) 10.76%, rgba(13, 131, 200, 1) 28.13%, rgba(3, 118, 191, 1) 44.71%, rgba(0, 113, 188, 1) 59.55%, rgba(7, 89, 165, 1) 71.54%, rgba(25, 28, 108, 1) 96.72%, rgba(27, 20, 100, 1) 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#29ABE2', endColorstr='#1B1464' ,GradientType=0)";
    background: linear-gradient(45deg, rgba(41, 171, 226, 1) 0%, rgba(29, 153, 214, 1) 10.76%, rgba(13, 131, 200, 1) 28.13%, rgba(3, 118, 191, 1) 44.71%, rgba(0, 113, 188, 1) 59.55%, rgba(7, 89, 165, 1) 71.54%, rgba(25, 28, 108, 1) 96.72%, rgba(27, 20, 100, 1) 100%);
    border-style: Solid;
    border-color: #000000;
    border-color: rgba(0, 0, 0, 1);
    border-width: 1px;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#29ABE2', endColorstr='#1B1464', GradientType=1);
}

#subContainer {
    background-color: white;
    box-shadow: 0px 0px 9px -5px;
}

.sHidden {
    visibility: hidden !important;
    display: none !important;
    opacity: 0 !important;
}

.customS::-webkit-scrollbar {
    width: 8px !important;
    /* TamaÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¾Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¾ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¾ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¾Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â¦ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¦ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â±o del scroll en vertical */
    height: 8px !important;
    /* TamaÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¾Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¾ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¾ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¾Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â¦ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¦ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â±o del scroll en horizontal */
}

.customS::-webkit-scrollbar-thumb {
    background: #ccc !important;
    border-radius: 4px !important;
}


/* Cambiamos el fondo y agregamos una sombra cuando estÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¾Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¾ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¾ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¾Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â¦ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¦ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â© en hover */

.customS::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3 !important;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2) !important;
}


/* Cambiamos el fondo cuando estÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¾Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¾ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¾ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¾Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â¦ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¦ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â© en active */

.customS::-webkit-scrollbar-thumb:active {
    background-color: #999999 !important;
}

.customS::-webkit-scrollbar-track {
    background: #e1e1e1 !important;
    border-radius: 4px !important;
}


/* Cambiamos el fondo cuando estÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¾Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¾ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¾ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¾Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â¦ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¦ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â© en active o hover */

.customS::-webkit-scrollbar-track:hover,
.customS::-webkit-scrollbar-track:active {
    background: #d4d4d4 !important;
}

input {
    background-color: white;
    font-family: Quicksand;
    font-weight: 300;
    outline: none;
    color: #212529;
}

div {
    padding: 0;
    margin: 0;
}

div:focus-visible {
    outline-color: #6789ea;
    outline-width: 1px;
}

h1,
h2 {
    font-family: Quicksand;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

h3,
h4 {
    font-family: Quicksand;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

h5 {
    font-family: Quicksand;
    margin: 0;
    padding: 0;
}

input[type="text"],
input[type="number"] {
    border-radius: 5px;
    font-family: Quicksand;
    font-size: var(--fontsizeIT);
    background: white;
    padding: 8px;
    color: #212529;
    border: none;
}

[placeholdertop] {
    display: block;
    position: relative;
    font-size: var(--fontsizeIT);
    border-radius: 5px;
    border: none;
}

.placeholderTopC {
    display: block;
    position: relative;
    font-size: var(--fontsizeIT);
    border-radius: 5px;
    border: solid #d1d1d1 1px;
    padding: 0;
    height: 50px;
}

[getsvg] {
    width: 25px;
    height: 25px;
}

.absoluteMidH {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

.absoluteMidV {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

.flexc {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flexr {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.campo_e {
    z-index: 2;
    border: solid 1px #ff2121a6 !important;
}

.campo_e h5 {
    position: relative;
    font-size: 15px;
    padding: 0px;
    margin: auto 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

select {
    background: white;
    border: none;
    font-size: 15px;
    height: 50px;
    padding: 5px;
    padding-left: 12px;
    width: 250px;
    border-radius: 5px;
    border: 2px solid #d4d4d4;
}

select:focus {
    outline: none;
    background-color: #f0f0f0;
}

select>option {
    background-color: white;
}

.ask {
    cursor: pointer;
    position: relative;
    text-align: center;
    border-radius: 50px;
    width: 20px;
    height: 20px;
    left: 9px;
    font-size: 12px;
    margin: auto 0;
    font-weight: bolder;
    color: #387BAD !important;
    border: solid 3px #387BAD;
}

.askMsn {
    pointer-events: none;
    position: absolute;
    background: #387badad;
    color: white;
    left: 38px;
    top: -14px;
    border: none;
    max-width: 200px;
    width: max-content;
    z-index: 3;
    border-radius: 5px;
    padding: 10px;
    text-align: justify;
    opacity: 0;
    transition: opacity linear 0.2s;
}

.askMsn>.triangulo {
    position: absolute;
    transform: rotate(180deg);
    border: 10px solid transparent;
    top: 10px;
    left: -29px;
    border-left: solid #387badad 20px;
}

.triangulo {
    width: 0;
    height: 0;
    border-left: 100px solid #f0ad4e;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
}

.askMsn>div {
    position: absolute;
    height: 20px;
    width: 12px;
}

.selected {
    position: relative;
    border-bottom: solid 2px rgba(47, 47, 47, 1.00);
    opacity: 1 !important;
}

.img_c {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#container {
    width: 100%;
    height: 100%;
    max-width: 824px;
    max-height: 460px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
    position: relative;
}

movilFooter {
    position: fixed;
    bottom: 0;
    width: 100vw;
    overflow-x: auto;
    height: 71px;
    box-shadow: black 0px 0px 15px -9px;
    background-color: #e8e8e8b8;
    z-index: 2000;
}

input[type="number"].placeholderTopI {
    max-width: 100px !important;
    border: none;
    padding: 8px;
}

.disabled {
    pointer-events: none !important;
    opacity: 0.5 !important;
    cursor: default !important;
}

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}

.validarError {
    position: absolute;
    background-color: #ff041cbd;
    width: 250px;
    height: auto;
    z-index: 100;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px;
    opacity: 0;
    top: 69px;
    transition: opacity 0.1s linear;
}

.validarErrorInput {
    border-color: #ff9999 !important;
    border: solid 2px !important;
    color: red !IMPORTANT;
    font-weight: 700;
    border-width: 3px !important;
}

.validarErrorInputh5 {
    color: red;
}

.validarErrorMsn h5 {
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 0px;
    padding: 10px 16px;
}

.validarError .triangulo {
    top: -25px;
    left: 12px;
    position: absolute;
    z-index: 101;
    border-left: 20px solid #ff041c96;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    transform: rotate(-90deg);
}

.validarErrorMsn {
    padding: 0;
}

.validarErrorMsn li {
    color: white;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.validarErrorMsn ol {
    width: auto;
    padding-left: 29px;
    list-style-position: inside;
}

div#modal {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    background-color: #1d1d1d42;
}

div#modalPregunta {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: white;
    width: fit-content;
    height: fit-content;
    max-height: 450px;
    justify-content: start;
    border-radius: 5px;
}

div#modalPregunta>div:nth-child(1) {
    color: white;
    font-size: 86px;
    font-weight: 700;
    text-align: center;
    width: 124px;
    position: relative;
    height: 124px;
    border-radius: 64px;
    background: linear-gradient(90deg, rgba(46, 49, 146, 1) 0%, rgba(48, 65, 152, 1) 10.33%, rgba(52, 90, 161, 1) 31.05%, rgba(54, 109, 168, 1) 52.51%, rgba(56, 119, 172, 1) 74.96%, rgba(56, 123, 173, 1) 100%);
    margin: 0 auto;
    top: -30px;
}

div#modalPregunta h3 {
    width: 80%;
    text-align: center;
    font-weight: 700;
    position: relative;
    max-width: 350px;
    margin: 0 auto;
    color: #5C5B5B;
}

#modalPregunta hr {
    width: 60%;
    margin: 13px auto;
}

#modalPregunta p {
    width: 80%;
    max-width: 330px;
    margin: 0px auto;
    text-align: justify;
    font-size: 14px;
}

#modalPregunta>div:last-child {
    bottom: 0;
    position: relative;
    width: 100%;
    padding: 10px;
    height: 70px;
    background-color: #EFEFEE;
    margin-top: 20px;
}

#modalPregunta>div:last-child>button {
    width: 120px;
    background-color: white;
    margin: 0 7px;
    border-radius: 2px;
    border: solid #4285C5 3px;
    color: #4285C5;
    font-weight: 700;
    cursor: pointer;
    transition: linear 0.1s;
    transition-property: color, background-color;
}

#modalPregunta>div:last-child>button:hover {
    color: white;
    background-color: #4285C5;
}

div#popUpContainer {
    width: 100%;
    height: 100% !important;
    position: fixed;
    background-color: #00000030;
    top: 0;
    left: 0;
    display: none;
    z-index: 1000;
    flex-direction: column;
    justify-content: center;
}

.equis>div {
    position: absolute;
    width: 22px;
    height: 25px;
    bottom: 17px;
    left: 24px;
    transition: all linear 0.1s;
}

.equis {
    z-index: 2;
    cursor: pointer;
    position: absolute;
    right: -41px;
    top: -50px;
    width: 100px;
    height: 100px;
    background-color: #636363;
    border-radius: 50px;
    transition: linear 0.1s all;
    -webkit-transition: linear 0.1s all;
    -moz-transition: linear 0.1s all;
    -ms-transition: linear 0.1s all;
    -o-transition: linear 0.1s all;
}

.equis>div>svg {
    position: relative;
    width: inherit !important;
    height: inherit !important;
    transform: rotate(44deg);
    transition: linear 0.1s all;
    -webkit-transition: linear 0.1s all;
    -moz-transition: linear 0.1s all;
    -ms-transition: linear 0.1s all;
    -o-transition: linear 0.1s all;
}

.equis:hover:not(.maximizar) {
    width: 110px;
    border-radius: 55px;
    height: 110px;
    background-color: #387bad;
}

.equis:hover>div:not(.maximizar>div) {
    left: 28px;
    bottom: 22px !important;
    width: 25px;
    transition: 0.1s all linear;
    -webkit-transition: 0.1s all linear;
    -moz-transition: 0.1s all linear;
    -ms-transition: 0.1s all linear;
    -o-transition: 0.1s all linear;
}

.equis:hover>svg {
    left: 0px;
}

div#mensajes {
    position: fixed;
    width: 300px;
    height: auto;
    bottom: 30px;
    right: 30px;
    z-index: 1000;
}

.mensaje {
    justify-content: start;
    height: 50px;
    position: relative;
    left: 0px;
    overflow: hidden;
    margin-top: 11px;
}

.mensaje>div:nth-child(1)>div:nth-child(1) {
    position: relative;
    width: 50px;
    height: 100%;
    background-size: 38%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    margin-right: 19px;
}

.mensajeError>div:nth-child(1)>div:nth-child(1) {
    background-color: #ED6467;
    background-image: url("../image/modales/error.svg");
}

.mensajeError {}

.mensaje>div:nth-child(1)>div:nth-child(2) {
    width: 50px;
    height: 100%;
    left: 8px;
    position: absolute;
    transform: skewX(-15deg);
}

.mensajeError>div:nth-child(2) {
    background-color: #ED6467;
}

.mensaje>div:nth-child(1)>h5 {
    font-weight: 700;
    font-size: 13px;
    padding: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 213px;
    overflow: hidden;
    height: fit-content;
    margin: auto 0;
    text-transform: capitalize;
}

.mensajeError>h5 {
    color: #D7494B;
}

#mensajes>div {
    left: 200px;
    position: absolute;
    transition: 0.2s linear;
    transition-property: top, bottom, margin-top, margin-bottom;
}

.mensaje>div:nth-child(1) {
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: start;
    left: 292px;
}

.mensajeError>div:nth-child(1)>div:nth-child(2) {
    background-color: #ED6467;
}

.mensajeError>div:nth-child(1)>h5 {
    color: #b53133;
}

.mensaje>div:nth-child(2) {
    width: 10px;
    position: absolute;
    right: 0;
    height: 100%;
}

.mensajeError>div:nth-child(1) {
    background-color: #F7BBBD;
}

.mensajeInfo>div:nth-child(1) {
    background-color: #C4D9ED;
}

.mensajeInfo>div:nth-child(1)>div:nth-child(1) {
    background-color: #4285C5;
    background-image: url(../image/modales/info.svg);
    background-size: 22%;
}

.mensajeInfo>div:nth-child(1)>div:nth-child(2) {
    background-color: #4285C5;
}

.mensajeInfo>div:nth-child(2) {
    background-color: #4285C5;
}

.mensajeInfo>div:nth-child(1)>h5 {
    color: #1660a7;
}

.mensajeOk>div:nth-child(1) {
    background-color: #CFE7BB;
}

.mensajeOk>div:nth-child(1)>div:nth-child(1) {
    background-color: #77BB41;
    background-image: url(../image/modales/ok.svg);
    background-size: 41%;
}

.mensajeOk>div:nth-child(1)>div:nth-child(2) {
    background-color: #77BB41;
}

.mensajeOk>div:nth-child(2) {
    background-color: #77BB41;
}

.mensajeOk>div:nth-child(1)>h5 {
    color: #4b841e;
}

.mensajeWarning>div:nth-child(1) {
    background-color: #FDF9B8;
}

.mensajeWarning>div:nth-child(1)>div:nth-child(1) {
    background-color: #FED01A;
    background-image: url(../image/modales/warning.svg);
    background-size: 37%;
}

.mensajeWarning>div:nth-child(1)>div:nth-child(2) {
    background-color: #FED01A;
}

.mensajeWarning>div:nth-child(2) {
    background-color: #FED01A;
}

.mensajeWarning>div:nth-child(1)>h5 {
    color: #D6AF0D;
}


/*Factory de carga */

.carga {
    width: 100% !important;
    height: 100% !important;
    top: 0 !important;
    position: absolute !important;
    left: 0 !important;
    background-color: transparent;
    display: flex;
    flex-direction: column !important;
    justify-content: center !important;
    z-index: 2000 !important;
}

.cargaSmall>div {
    width: 36px;
    height: 36px;
}

.cargaMid>div {
    width: 66px;
    height: 66px;
}

.cargaBig>div {
    width: 96px;
    height: 96px;
}

.carga>div {
    position: absolute;
    padding: 0 !important;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: rotate(0deg);
    border-radius: 100px;
}

.cargaSmall>div>div {
    width: 36px;
    height: 36px;
    top: -36px;
}

.cargaMid>div>div {
    width: 66px;
    height: 66px;
    top: -66px;
}

.cargaBig>div>div {
    width: 96px;
    height: 96px;
    top: -96px;
}

.carga>div>div {
    position: relative;
    left: 0px;
    margin: auto;
    overflow: hidden;
    border-radius: 70px;
    -webkit-border-radius: 70px;
    -moz-border-radius: 70px;
    -ms-border-radius: 70px;
    -o-border-radius: 70px;
}

.cargaSmall>div>div>div {
    width: 36px;
    height: 36px;
    top: 36px;
}

.cargaMid>div>div>div {
    width: 66px;
    height: 66px;
    top: 66px;
}

.cargaBig>div>div>div {
    width: 96px;
    height: 96px;
    top: 96px;
}

.carga>div>div>div {
    border: solid 4px rgb(61, 84, 136);
    position: absolute;
    border-radius: 70px;
    left: 0px;
    bottom: 0;
    right: 0;
    padding: 0 !important;
    -webkit-border-radius: 70px;
    -moz-border-radius: 70px;
    -ms-border-radius: 70px;
    -o-border-radius: 70px;
}

.tabla1 tbody tr:nth-child(1) td:nth-child(2n) {
    background-color: #00B4D8;
}

.tabla1 tbody tr:nth-child(1)>td {
    position: relative;
    cursor: pointer;
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 12px;
    border-color: transparent !important;
}

.tabla1 tbody tr>td {
    text-transform: capitalize;
    max-width: 140px;
    border-left: solid 10px;
    border-right: solid 10px;
    font-size: 12px;
    padding: 7px;
    padding-right: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tabla1 tbody tr:nth-child(1) td:nth-child(2n+1) {
    background-color: #387BAD;
}

td {}

.tabla1 tbody tr {
    position: relative;
}

td.tdVacio {
    background: none !important;
}

td.tdOptions>div {
    cursor: pointer;
    width: 25px;
    border-radius: 25px;
    height: 25px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    opacity: 0.6;
    transition: opacity linear 0.1s;
}

td input[type="text"] {
    text-transform: capitalize;
    width: 100%;
    font-size: 12px;
    height: 20px;
    padding: 8px 0px;
}

.tabla1>div {
    position: relative;
}

.tabla1 tbody tr:nth-child(2n)>td {
    background-color: #F2F2F2;
    border-color: #F9F9F9;
}

.tabla1 tbody tr:hover>td:not(.tabla1 tbody tr:first-child>td,
.tabla1 tbody tr:last-child>td) {
    background-color: #387bad !important;
    color: white;
    cursor: pointer;
    border-color: #F9F9F9;
}

.tabla1 tbody tr:nth-child(2n+1)>td {
    background-color: #E0E0E3;
    border-color: #EDEDED;
}

td {}

.tabla1 tbody tr>td:first-child {
    border-left-width: 0px;
}

.tabla1 tbody tr:nth-child(2n+1)>td:last-child {
    border-right-width: none;
}

.tabla1 tbody tr:last-child>td {
    background-color: white;
}

.tabla1 tbody tr>td:last-child {
    border-right-width: 0px;
}

div#pageButtons {
    bottom: 13px;
    width: fit-content;
    overflow: hidden;
    border-radius: 5px;
    height: 26px;
}

#pageButtons>div:nth-child(2n) {
    background-color: #ededed;
    color: #5f5f5f;
}

#pageButtons>div:nth-child(2n+1) {
    background-color: #ededed;
    color: #5f5f5f;
}

#pageButtons>div svg {
    width: 10px !important;
    height: 12px !important;
    margin: 0 auto;
}

#pageButtons>div:first-child {
    background-color: #387bad;
}

#pageButtons>div:first-child svg {
    background-color: #387bad;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

#pageButtons>div:last-child {
    background-color: #387bad;
}

.pageButton {
    width: 26px;
    height: 26px;
    color: white;
    font-weight: 700;
    font-size: 12px;
    text-align: center;
}

#pageButtons>div:hover:not(#pageButtons>div:first-child,
#pageButtons>div:last-child) {
    cursor: pointer;
    background-color: #d3d3d3;
}

.pageButtonsSelected {
    background-color: #387bad !important;
    color: white !important;
}

.flechaFiltro {
    position: absolute;
    width: 20px;
    height: 100%;
    right: 0;
    bottom: 0;
}

.flechaFiltro>div {
    background-image: url("image/encabezado/flecha.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    top: 1px;
}

.flechaFiltro>div>svg {
    width: 9px !important;
    height: 9px !important;
    position: relative;
    margin: 0 auto;
}

.flechaFiltro>div:nth-child(1) {
    transform: rotate(180deg);
}

mid.cargaReintentar {
    width: 200px;
    height: 100px;
    position: relative;
    margin: 0 auto;
}

mid.cargaReintentar>h5 {
    color: #888888;
    font-size: 16px;
    text-align: center;
    font-weight: 700;
}

mid.cargaReintentar>button {
    width: 120px;
    margin: 0 auto;
    position: relative;
    font-size: 14px;
    background-color: #387bad;
    color: white;
    font-weight: 700;
    border: none;
    cursor: pointer;
    height: 25px;
    margin-top: 8px;
}

@media (max-width: 576px) {
    .colorpicker {
        left: 0 !important;
    }
}

option {
    text-transform: capitalize;
}

button {
    margin: 0 auto;
    position: relative;
    background-color: #387bad;
    color: white;
    font-weight: 700;
    text-align: center;
    border-radius: 5px;
    font-size: 14px;
    padding: 0;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    transition: 0.1s linear opacity;
    display: block;
}

button:hover {}

button {}

button:hover {
    opacity: 1;
}

.getsvg2 {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
}

[getsvg2] {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

[getsvg2]>img {}

.maximizar {
    right: 6px;
    width: 93px;
    height: 91px;
    z-index: 1;
    background-color: #999;
}

.maximizar>div>svg {
    transform: none;
    left: -5px;
    top: 6px;
}

.maximizar>div {
    height: 20px;
    width: 20px;
    left: 23px;
    bottom: 19px;
}

.maximizar:hover {
    width: 100px;
    height: 100px;
    background-color: rgb(46 49 146);
}

.maximizar:hover>div {
    left: 28px;
    bottom: 25px;
}

input[type="number"] {
    padding: 8px;
    border: none;
}

div#popUpView {
    position: relative;
    overflow: hidden;
}

canvas#canvas {
    position: absolute;
    left: -100px;
    top: -200px;
    z-index: 1;
}

.animation {
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

.switch__canvas {
    z-index: 100;
    transition: linear 0.2s background-color;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 67px;
    box-shadow: 1px 1px 5px -1px black;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    background-color: white;
    -webkit-transition: linear 0.2s;
    transition-property: background-color, opacity;
    -moz-transition: linear 0.2s background-color;
    -ms-transition: linear 0.2s background-color;
    -o-transition: linear 0.2s background-color;
}

.switch__circle {
    position: relative;
    width: 25px;
    height: 25px;
    margin-left: 5px;
    background-color: #555;
    left: 0px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -ms-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition-property: left, background-color;
}

.switch__a {
    left: 31px;
    background-color: #fff;
}

.switchc__a {
    background-color: #206cdb;
}

.column {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.lang__flag {
    width: 31px;
    height: 31px;
    margin-left: -12px !important;
    /* border: solid red 2px; */
    background-color: white;
    /* margin: auto 0; */
    position: relative;
    overflow: hidden;
    /* margin-top: 4px; */
    display: grid;
    border-radius: 20px;
    padding: 3px;
    transition: height linear 0.1s;
}

.canvasAndLang {
    position: fixed;
    right: 46px;
    top: 29px;
    z-index: 100;
    height: 35px;
    display: flex;
    opacity: 0.5;
    flex-direction: row;
    justify-content: center;
    transition: all linear 0.1s;
    -webkit-transition: all linear 0.1s;
    -moz-transition: all linear 0.1s;
    -ms-transition: all linear 0.1s;
    -o-transition: all linear 0.1s;
}

.lang__container {
    position: relative;
    /* border: red solid 2px; */
    background-color: rgb(18 58 96);
    height: 100%;
    width: 63px;
    left: 9px;
    border-radius: 40px 0px 0px 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
}

.lang__flecha {
    /* border: solid red 2px; */
    position: relative;
    transform: rotate(-90deg);
    width: 10px;
    height: 10px;
    top: 13px;
    right: 3px;
    margin: 0px !important;
    padding: 0px !important;
}

.firstFlag {
    order: 0 !important;
}

main {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: inherit;
}

@media (max-width: 576px) {
    main {
        height: calc(100% - 85px);
        margin-top: 0px !important;
    }
}

@media (max-width: 768px) {
    #container {
        max-height: inherit;
        position: relative;
        padding: 0 !important;
        margin: 0 !important;
        justify-content: start;
    }
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-height: inherit;
    }
}

.canvasAndLang:hover {
    opacity: 1;
}

.lang__flecha>svg {
    width: 100%;
    height: 100%;
    position: relative;
    left: 0;
}

.flag {
    height: 25px;
    width: 25px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 5px;
    position: relative;
    order: 1;
}