<link rel="stylesheet" href="views/popUp/listaTipos/css.css">
<div id="listaTipos" class="flexc" ng-controller="listaTipos">
    <h2>Tipos</h2>
    <p>Listado De Tipos Disponibles, Puede Filtrar Y Selecionar Un tipo para modificarlo o eliminarlo, para eLiminar Un tipo el mismo no puede estar asignado a un producto.</p>
    <hr>
    <div class="flexr">
        <div style="overflow-x: auto;" class="customS">

            <table class="tabla1">
                <tr>
                    <td ng-click="orderByChange('id_tipo')">id
                        <div class="flechaFiltro" ng-show="orderBy.selected==='id_tipo'">
                            <div getsvg="image/encabezado/flecha.svg,#ffffff" ng-show="orderBy.aD==='ASC'"></div>
                            <div getsvg="image/encabezado/flecha.svg,#ffffff" ng-show="orderBy.aD==='DESC'"></div>
                        </div>
                    </td>
                    <td ng-click="orderByChange('tipo')">Tipo
                        <div class="flechaFiltro" ng-show="orderBy.selected==='tipo'">
                            <div getsvg="image/encabezado/flecha.svg,#ffffff" ng-show="orderBy.aD==='ASC'"></div>
                            <div getsvg="image/encabezado/flecha.svg,#ffffff" ng-show="orderBy.aD==='DESC'"></div>
                        </div>
                    </td>


                    <td ng-click="orderByChange('created_at')" title="Fecha De Creacion">F.Crea
                        <div class="flechaFiltro" ng-show="orderBy.selected==='created_at'">
                            <div getsvg="image/encabezado/flecha.svg,#ffffff" ng-show="orderBy.aD==='ASC'"></div>
                            <div getsvg="image/encabezado/flecha.svg,#ffffff" ng-show="orderBy.aD==='DESC'"></div>
                        </div>
                    </td>
                    <td ng-click="orderByChange('updated_at')" title="Ultima Modificacion">F.Modi
                        <div class="flechaFiltro" ng-show="orderBy.selected==='updated_at'">
                            <div getsvg="image/encabezado/flecha.svg,#ffffff" ng-show="orderBy.aD==='ASC'"></div>
                            <div getsvg="image/encabezado/flecha.svg,#ffffff" ng-show="orderBy.aD==='DESC'"></div>
                        </div>
                    </td>

                </tr>
                <tr ng-repeat="item in tipos track by item.tipo" ng-click="retornaTipos(item)">

                    <td>[[item.id_tipo]]</td>
                    <td>[[item.tipo]]</td>
                    <td>[[item.created_at|revertirfecha]]</td>
                    <td>[[item.updated_at|revertirfecha]]</td>
                </tr>
                <tr>
                    <td><input type="text" maxlength="10" validark tipo-valor="alfanumerico" placeholder="id_tipo" ng-model="filtro.id_tipo" ng-keyup="filtraTipos()"></td>
                    <td><input type="text" maxlength="10" validark tipo-valor="alfanumerico" placeholder="tipo" ng-model="filtro.tipo" ng-keyup="filtraTipos()"></td>
                    <td><input type="text" maxlength="10" validark tipo-valor="alfanumerico" placeholder="created_at" ng-model="filtro.created_at" ng-keyup="filtraTipos()"></td>
                    <td><input type="text" maxlength="10" validark tipo-valor="alfanumerico" placeholder="updated_at" ng-model="filtro.updated_at" ng-keyup="filtraTipos()"></td>

                </tr>

            </table>
        </div>

    </div>
    <div id="pageButtons" class="flexr absoluteMidH">
        <div class="pageButton flexc" ng-click="cambiaPagina(page-1)" getsvg="image/productCrud/flecha.svg,#ffffff"></div>
        <div class="pageButton flexc" ng-click="cambiaPagina($index+1)" ng-class="{'pageButtonsSelected':  current_page===($index+1)}" ng-repeat="item in last_page">[[item]]</div>
        <div class="pageButton flexc" ng-click="cambiaPagina(page+1)" getsvg="image/productCrud/flecha.svg,#ffffff"></div>
    </div>
</div>
<div class="equis" ng-click="popUp.cierraPopUp()">
    <div getsvg="image/productCrud/cruz.svg,#ffffff"></div>
</div>