<link rel="stylesheet" href="views/home/formacion/formacion.css">
<div ng-controller="homeFormacion" id='homeFormacion' class='container row'>
    <div class="label col-12">
        <div class="label__icon" getsvg="image/formacion.svg,#FFFFFF"></div>
        <div class="label__scuare"></div>
        <div class="label__rightScuare">
            <h5>Formacion</h5>
        </div>
    </div>
    <div id="formacion__container" class="col-12 row justify-content-between justify-content-md-around">

        <div ng-show="titulo!==true" ng-repeat="formacion in formaciones track by $index" ng-click="formacionClick($index)" class="animation formaciones col-12 col-sm-6 col-md-4 row">
            <div class="formacion_bg" style="background-color:#[[formacion.bColor]]">
                <div class="formaciones__header" style="background-color:#[[formacion.headerColor]]">
                    <h5>[[formacion.titulo]]</h5>
                    <div style="background-color: #[[formacion.headerColor]];"></div>
                </div>
                <div class="formaciones__img" getsvg="image/[[formacion.image]].svg"></div>
                <div class="formaciones__inst">[[formacion.inst]]</div>
            </div>
        </div>
    </div>
    <div id="tituloContainer" ng-show="titulo!==false">
        <div id="atras" getsvg="/image/flecha.svg,#FFFFFF" ng-click="atras(titulo)"></div>
        <div id="titulo" animation="soloAparece,soloDesaparece" ng-show="titulo===0" class="animation titulo_animation">
            <div id="titulo__image"></div>
        </div>
    </div>
</div>