.experiencia {
    padding: 0;
    display: flex;
    width: 100%;
    position: relative;
}

div#pestaÃ±aPrincipal>div {}

.experiencia_bg {
    position: relative;
    background-color: #d1d1d1;
    border-radius: 2px;
    z-index: 1;
    min-width: 319px;
    width: -webkit-fill-available;
    padding-bottom: 1px;
    margin-top: 11px;
    order: 1;
}

.experiencia__header {
    width: 100%;
    height: 19px;
    background: #1f5684;
    color: white;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: Century Gothic;
}

p.experiencia__empresa {
    padding: 12px;
    font-size: 10px;
    margin: 0;
}

p.experiencia__funciones {
    font-size: 10px;
    padding: 0px 12px;
    margin: 0;
}

.experiencia_bg li {
    font-size: 10px;
}

.periodo:nth-child(2n+1) {
    position: relative;
}

.periodo {
    width: 111px;
    height: 19px;
    background-image: url(/image/flag.svg);
    background-repeat: no-repeat;
    border-radius: 20px;
    margin: auto 0;
    color: white;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    z-index: 0;
    top: 11px;
}

.experiencia:nth-child(2n+1) .periodo {
    position: relative;
    left: -10px;
    padding-left: 10px;
    order: 2;
}

.experiencia:nth-child(2n) .periodo {
    position: relative;
    left: 8px;
    padding-right: 10px;
    order: 0;
}

.experiencia:last-child {
    margin-bottom: 10px;
}

.experiencia {
    opacity: 0;
    animation-duration: 0.5s;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.periodo {
    animation-duration: 0.5s;
}

.experiencia:nth-child(2n+1) {
    animation-name: apareceX1;
}

.experiencia:nth-child(2n) {
    animation-name: apareceX2;
}

.experiencia:nth-child(2n+1) .periodo {
    transform: translateX(-100%);
    animation-name: apareceX1;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
}

.experiencia:nth-child(2n) .periodo {
    transform: translateX(100%) scaleX(-1);
    animation-name: apareceX3;
    -webkit-transform: translateX(100%) scaleX(-1);
    -moz-transform: translateX(100%) scaleX(-1);
    -ms-transform: translateX(100%) scaleX(-1);
    -o-transform: translateX(100%) scaleX(-1);
}

@keyframes apareceX1 {
    0% {
        opacity: 0;
        transform: translateX(-20%);
        -webkit-transform: translateX(-20%);
        -moz-transform: translateX(-20%);
        -ms-transform: translateX(-20%);
        -o-transform: translateX(-20%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
    }
}

@keyframes apareceX2 {
    0% {
        opacity: 0;
        transform: translateX(20%);
        -webkit-transform: translateX(20%);
        -moz-transform: translateX(20%);
        -ms-transform: translateX(20%);
        -o-transform: translateX(20%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
    }
}

@keyframes apareceX3 {
    0% {
        opacity: 0;
        transform: translateX(20%) scaleX(-1);
        -webkit-transform: translateX(20%) scaleX(-1);
        -moz-transform: translateX(20%) scaleX(-1);
        -ms-transform: translateX(20%) scaleX(-1);
        -o-transform: translateX(20%) scaleX(-1);
    }
    100% {
        opacity: 1;
        transform: translateX(0%) scaleX(-1);
        -webkit-transform: translateX(0%) scaleX(-1);
        -moz-transform: translateX(0%) scaleX(-1);
        -ms-transform: translateX(0%) scaleX(-1);
        -o-transform: translateX(0%) scaleX(-1);
    }
}

.periodoSm {
    position: absolute;
    width: 100%;
    height: 20px;
    background-color: #b9b9b9;
    color: black;
    bottom: -8px;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 576px) {
    .experiencia {
        width: 100%;
    }
    .experiencia__container {}
    .experiencia_bg {
        width: 100%;
    }
    .experiencia_bg p,
    .experiencia_bg li {
        font-size: 10px;
    }
    .experiencia__header {
        height: 30px;
        font-size: 14px;
    }
    p.experiencia__empresa.ng-binding {}
    .experiencia_bg {
        margin-bottom: 10px;
    }
}

.experiencia__container {
    padding: 0;
    position: relative;
    margin: 0 auto;
}

div#pestañaPrincipal .container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
    height: calc(100% + 10px) !important;
    min-height: inherit;
    /* margin-bottom: 10px !important; */
}