<link rel="stylesheet" href="views/home/habilidades/habilidades.css">
<div ng-controller="homeHabilidades" class='container row'>
  <div class="label animation col-12">
    <div class="label__icon" getsvg="image/habilidades.svg,#FFFFFF"></div>
    <div class="label__scuare"></div>
    <div class="label__rightScuare">
      <h5>Habilidades</h5>
    </div>
  </div>
  <div class="row col-12 habilidades__supercontainer">
    <div ng-repeat="habilidad in habilidades track by $index" ng-if="$index/take<habilidadPage&&$index/take>=habilidadPage-1" class="habilidades__container col-12 col-sm-6 row">
      <h5 class="animation col-12">[[habilidad.name]]</h5>
      <div class="habilidad__container col-12">
        <div class="habilidad__icono animation" style="background-color: #[[habilidad.iconColor]];" getsvg="image/[[habilidad.icon]].svg,#[[habilidad.iconFill]]"></div>
        <div class="habilidad__scuare animation" style="background-color: #[[habilidad.scuare]];">
          <div class="habilidad__scuare__bar">
            <div class="habilidad__scuare__progress" style="width: [[habilidad.progress]]%;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="numeracion__container" class="row col-12 m-auto">
    <div class="numeracion__numero" ng-repeat="numero in numeracion track by $index" ng-click="habilidadChange(numero)" ng-class="{numeracion__numero__activo: numero===habilidadPage}">[[numero]]</div>
  </div>
</div>