div#descripcion>p {
    font-family: Century Gothic;
    font-size: 12px;
    text-align: justify;
    text-indent: 12px;
}

div#descripcion {
    top: 10px;
    position: relative;
    padding: 0px 4px 0px 4px;
}

.adicionales {
    height: 40px;
    position: relative;
    overflow: hidden;
    margin-top: 14px;
}

.adicionales__icon {
    position: absolute;
    width: 49px;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #1e6787;
    transform: skewX(-10deg);
    left: -5px;
    justify-content: center;
    z-index: 1;
}

.adicionales__icon>svg {
    position: relative;
    width: 26px;
    height: 26px;
    left: 13px;
    transform: skewX(10deg);
}

.adicionales__scuare {
    position: absolute;
    width: 100%;
    height: 100%;
    left: -4px;
    background-color: #014470;
    z-index: 0;
    transform: skewX(-10deg);
}

.adicionales>h5 {
    z-index: 1;
    color: white;
    position: absolute;
    font-family: Century Gothic;
    font-size: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    left: 46px;
    padding: 0px 9px;
    width: 69%;
    min-width: 116px;
    overflow: hidden;
}

div#adicionales {
    justify-content: space-between;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.label {
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

#descripcion>p {
    opacity: 0;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-name: apareceY;
    animation-play-state: paused;
}

#descripcion>p:nth-child(1) {
    animation-delay: 0.5s;
}

#descripcion>p:nth-child(2) {
    animation-delay: 1s;
}

#adicionales>.adicionales {
    opacity: 0;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: paused;
    animation-name: apareceY;
}

#adicionales>.adicionales:nth-child(1) {
    animation-delay: 1.5s;
}

#adicionales>.adicionales:nth-child(2) {
    animation-delay: 1.6s;
}

#adicionales>.adicionales:nth-child(3) {
    animation-delay: 1.7s;
}

#adicionales>.adicionales:nth-child(4) {
    animation-delay: 1.8s;
}

@keyframes apareceX {
    0% {
        opacity: 0;
        transform: translateX(-10%);
        -webkit-transform: translateX(-10%);
        -moz-transform: translateX(-10%);
        -ms-transform: translateX(-10%);
        -o-transform: translateX(-10%);
    }
    100% {
        opacity: 1 !important;
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
    }
}

@keyframes apareceY {
    0% {
        opacity: 0;
        transform: translateY(-10%);
        -webkit-transform: translateY(-10%);
        -moz-transform: translateY(-10%);
        -ms-transform: translateY(-10%);
        -o-transform: translateY(-10%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
    }
}

@media (max-width: 576px) {
    #descripcion>p {
        font-size: 14px !important;
    }
    .adicionales {
        font-size: 12px;
    }
    .adicionales h5 {
        font-size: 13px;
    }
}