<link rel="stylesheet" href="views/home/personales/personales.css">
<div ng-controller="homePersonales" id='' class='container row'>
  <div class="label col-12">
    <div class="label__icon" getsvg="image/personal.svg,#FFFFFF"></div>
    <div class="label__scuare"></div>
    <div class="label__rightScuare">
      <h5>Acerca De Mi</h5>
    </div>
  </div>
  <div id="descripcion" class="col-12">
    <p> Soy un programador junior cuya especialización es la programación web en PHP, Javascript, Typescript y maquetación en CSS, Uso frameworks como AngularJS, AngularTS y Bootstrap para el frontend y Laravel para el backend</p>
    <p>Puedo realizar otras tareas relacionadas con el área de sistemas e informática, como instalación y configuración de redes LAN, servicio técnico y diagnóstico de computadores, formateo e instalación de SO, Tareas básicas en Microsoft Azure, etc. </p>
    <p>Por otra parte, estoy dispuesto a aprender nuevos conocimientos relacionados con la programación redes e informática.</p>

  </div>
  <div id="adicionales" class="row p-0 m-auto">
    <div class="adicionales col-12 col-md-5-5">
      <div class="adicionales__icon" getsvg="image/telefono.svg,#FFFFFF"></div>
      <div class="adicionales__scuare"></div>
      <h5 title="Telefono:+34 672 2 00 0 48">Telefono:+34 672 2 00 0 48</h5>
    </div>
    <div class="adicionales col-12 col-md-5-5">
      <div class="adicionales__icon" getsvg="image/edad.svg,#FFFFFF"></div>
      <div class="adicionales__scuare"></div>
      <h5 title="Edad: 28 años(11-1994)">Edad: 28 años(11-1994)</h5>
    </div>
    <div class="adicionales col-12 col-md-5-5">
      <div class="adicionales__icon" getsvg="image/direccion.svg,#FFFFFF"></div>
      <div class="adicionales__scuare"></div>
      <h5 title="Av. Principes De España 3 Sta. Cruz De Tenerife 38010">Av. Principes De España 3 Sta. Cruz De Tenerife 38010</h5>
    </div>
    <div class="adicionales col-12 col-md-5-5">
      <div class="adicionales__icon" getsvg="image/correo.svg,#FFFFFF"></div>
      <div class="adicionales__scuare"></div>
      <h5 title="eduardoandresp94@gmail.com">eduardoandresp94@gmail.com</h5>
    </div>
  </div>
</div>