<link rel="stylesheet" href="views/popUp/listaProducto/css.css">
<div id="listaProducto" class="flexc" ng-controller="listaProducto">
    <h2>Productos</h2>
    <p>Listado De Productos Disponibles, Puede Filtrar Y Modificar Seleccionando el icono de modificar a la derecha, Para ELiminar Un Producto el mismo no debe tener items en stock.</p>
    <hr>
    <div class="flexr">
        <div style="overflow-x: auto;" class="customS">

            <table class="tabla1">
                <tr>
                    <td ng-show="popUp.maximizado===true">img

                    </td>
                    <td ng-click="orderByChange('id_producto')">id
                        <div class="flechaFiltro" ng-show="orderBy.selected==='id_producto'">
                            <div getsvg="image/encabezado/flecha.svg,#ffffff" ng-show="orderBy.aD==='ASC'"></div>
                            <div getsvg="image/encabezado/flecha.svg,#ffffff" ng-show="orderBy.aD==='DESC'"></div>
                        </div>
                    </td>
                    <td ng-click="orderByChange('codigo')">codigo
                        <div class="flechaFiltro" ng-show="orderBy.selected==='codigo'">
                            <div getsvg="image/encabezado/flecha.svg,#ffffff" ng-show="orderBy.aD==='ASC'"></div>
                            <div getsvg="image/encabezado/flecha.svg,#ffffff" ng-show="orderBy.aD==='DESC'"></div>
                        </div>
                    </td>
                    <td ng-click="orderByChange('nombre')">nombre
                        <div class="flechaFiltro" ng-show="orderBy.selected==='nombre'">
                            <div getsvg="image/encabezado/flecha.svg,#ffffff" ng-show="orderBy.aD==='ASC'"></div>
                            <div getsvg="image/encabezado/flecha.svg,#ffffff" ng-show="orderBy.aD==='DESC'"></div>
                        </div>
                    </td>
                    <td ng-click="orderByChange('genero')">genero
                        <div class="flechaFiltro" ng-show="orderBy.selected==='genero'">
                            <div getsvg="image/encabezado/flecha.svg,#ffffff" ng-show="orderBy.aD==='ASC'"></div>
                            <div getsvg="image/encabezado/flecha.svg,#ffffff" ng-show="orderBy.aD==='DESC'"></div>
                        </div>
                    </td>

                    <td ng-click="orderByChange('tallas')">tallas
                        <div class="flechaFiltro" ng-show="orderBy.selected==='tallas'">
                            <div getsvg="image/encabezado/flecha.svg,#ffffff" ng-show="orderBy.aD==='ASC'"></div>
                            <div getsvg="image/encabezado/flecha.svg,#ffffff" ng-show="orderBy.aD==='DESC'"></div>
                        </div>
                    </td>
                    <td ng-click="orderByChange('categoria')">categoria
                        <div class="flechaFiltro" ng-show="orderBy.selected==='categoria'">
                            <div getsvg="image/encabezado/flecha.svg,#ffffff" ng-show="orderBy.aD==='ASC'"></div>
                            <div getsvg="image/encabezado/flecha.svg,#ffffff" ng-show="orderBy.aD==='DESC'"></div>
                        </div>
                    </td>
                    <td ng-click="orderByChange('modelo.nombre')">modelo
                        <div class="flechaFiltro" ng-show="orderBy.selected==='modelo.nombre'">
                            <div getsvg="image/encabezado/flecha.svg,#ffffff" ng-show="orderBy.aD==='ASC'"></div>
                            <div getsvg="image/encabezado/flecha.svg,#ffffff" ng-show="orderBy.aD==='DESC'"></div>
                        </div>
                    </td>
                    <td ng-click="orderByChange('diseno.nombre')">diseno
                        <div class="flechaFiltro" ng-show="orderBy.selected==='diseno.nombre'">
                            <div getsvg="image/encabezado/flecha.svg,#ffffff" ng-show="orderBy.aD==='ASC'"></div>
                            <div getsvg="image/encabezado/flecha.svg,#ffffff" ng-show="orderBy.aD==='DESC'"></div>
                        </div>
                    </td>
                    <td ng-click="orderByChange('material.nombre')">material
                        <div class="flechaFiltro" ng-show="orderBy.selected==='material.nombre'">
                            <div getsvg="image/encabezado/flecha.svg,#ffffff" ng-show="orderBy.aD==='ASC'"></div>
                            <div getsvg="image/encabezado/flecha.svg,#ffffff" ng-show="orderBy.aD==='DESC'"></div>
                        </div>
                    </td>
                    <td ng-click="orderByChange('updated_at')" title="Ultima Modificacion">U.Modi
                        <div class="flechaFiltro" ng-show="orderBy.selected==='updated_at'">
                            <div getsvg="image/encabezado/flecha.svg,#ffffff" ng-show="orderBy.aD==='ASC'"></div>
                            <div getsvg="image/encabezado/flecha.svg,#ffffff" ng-show="orderBy.aD==='DESC'"></div>
                        </div>
                    </td>

                </tr>
                <tr ng-repeat="item in productos track by item.id_producto" ng-click="retornaProducto(item)">

                    <td class="producto_img" ng-show="popUp.maximizado===true">
                        <div style="background-image:url('image/productos/[[(item.img[0])]]')"></div>
                    </td>
                    <td>[[item.id_producto]]</td>
                    <td>[[item.codigo]]</td>
                    <td>[[item.nombre]]</td>
                    <td>[[item.genero]]</td>

                    <td>[[item.tallas|arrayToString]]</td>
                    <td>[[item.categoria|arrayToString]]</td>
                    <td>[[item.modelo.nombre]]</td>
                    <td>[[item.diseno.nombre]]</td>
                    <td>[[item.material.nombre]]</td>
                    <td>[[item.updated_at|revertirfecha]]</td>
                </tr>
                <tr>
                    <td ng-show="popUp.maximizado===true"></td>
                    <td><input type="text" maxlength="10" validark tipo-valor="alfanumerico" placeholder="id" ng-model="filtro.id_producto" ng-keyup="filtraProducto()"></td>
                    <td><input type="text" maxlength="10" validark tipo-valor="alfanumerico" placeholder="codigo" ng-model="filtro.codigo" ng-keyup="filtraProducto()"></td>
                    <td><input type="text" maxlength="10" validark tipo-valor="alfanumerico" placeholder="nombre" ng-model="filtro.nombre" ng-keyup="filtraProducto()"></td>
                    <td><input type="text" maxlength="10" validark tipo-valor="alfanumerico" placeholder="genero" ng-model="filtro.genero" ng-keyup="filtraProducto()"></td>

                    <td><input type="text" maxlength="10" validark tipo-valor="alfanumerico" placeholder="tallas" ng-model="filtro.tallas" ng-keyup="filtraProducto()"></td>
                    <td><input type="text" maxlength="10" validark tipo-valor="alfanumerico" placeholder="categoria" ng-model="filtro.categoria" ng-keyup="filtraProducto()"></td>
                    <td><input type="text" maxlength="10" validark tipo-valor="alfanumerico" placeholder="modelo" ng-model="filtro.modelo" ng-keyup="filtraProducto()"></td>
                    <td><input type="text" maxlength="10" validark tipo-valor="alfanumerico" placeholder="diseno" ng-model="filtro.diseno" ng-keyup="filtraProducto()"></td>
                    <td><input type="text" maxlength="10" validark tipo-valor="alfanumerico" placeholder="material" ng-model="filtro.material" ng-keyup="filtraProducto()"></td>
                    <td><input type="text" maxlength="10" validark tipo-valor="alfanumerico" placeholder="updated_at" ng-model="filtro.updated_at" ng-keyup="filtraProducto()"></td>
                </tr>

            </table>
        </div>

    </div>
    <div id="pageButtons" class="flexr absoluteMidH">
        <div class="pageButton flexc" ng-click="cambiaPagina(page-1)" getsvg="image/productCrud/flecha.svg,#ffffff"></div>
        <div class="pageButton flexc" ng-click="cambiaPagina($index+1)" ng-class="{'pageButtonsSelected':  current_page===($index+1)}" ng-repeat="item in last_page">[[item]]</div>
        <div class="pageButton flexc" ng-click="cambiaPagina(page+1)" getsvg="image/productCrud/flecha.svg,#ffffff"></div>
    </div>
</div>
<div class="equis" ng-click="popUp.cierraPopUp()">
    <div getsvg="image/productCrud/cruz.svg,#ffffff"></div>
</div>
<div class="equis maximizar" ng-click="popUp.expandePopUp()">
    <div ng-show="popUp.maximizado===true" getsvg="image/iconos/cuadroMax.svg,#ffffff"></div>
    <div ng-show="popUp.maximizado===false" getsvg="image/iconos/cuadroMin.svg,#ffffff"></div>
</div>